.masonry {
  column-count: 1;
  column-gap: 16px;
}

.item {
  break-inside: avoid;
  margin-bottom: 16px;

  background: #eee;
  border-radius: 8px;
  padding: 20px;
}
.item.box1 { height:100px; }
.item.box2 { height:200px; }
.item.box3 { height:300px; }
.item.box4 { height:400px; }
.item.box5 { height:500px; }

/* 태블릿 이상 */
@media (min-width: 690px) {
  .masonry {
    column-count: 2;
  }
}